*{
  font-family: 'Montserrat', sans-serif;
}

.coreee{
    color: #EB5565;
}

.goBack{
 
    margin-top: 20px;
    margin-left: 30px;
  }
  .voltarBtn{
   
    color: white;
    text-decoration: none;
  }

  .texto{
      color: gray;
  }

.direita{
  padding-top: -5%;
margin-left: 95%;
  }

.core{
  color: #EB5565;
}